
@{ ViewBag.Title = "Index"; }
<div class="section py-5">
    <div class="content">
        <div class="container">
            <div class="container px-md-5 px-0">
                <div class="title center mb-5">
                    <h3>FAQs</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 order-md-0 order-sm-1">
                        <div class="wrap-qa p-lg-5 p-0">
                            <div class="item-flip">
                                <div class="flip"><p>Quy định đổi sản phẩm</p></div>
                                <div class="panel">
                                    <p>Chỉ đổi hàng 1 lần duy nhất, mong bạn cân nhắc kĩ trước khi quyết định..</p>
                                    <p>Thời hạn đổi sản phẩm là 07 ngày, kể từ ngày nhận hàng.</p>
                                    <p>Sản phẩm đổi phải kèm hóa đơn. Bắt buộc phải còn nguyên tem, hộp, nhãn mác.</p>
                                    <p>Sản phẩm đổi không có dấu hiệu đã qua sử dụng, không giặt tẩy, bám bẩn, biến dạng.</p>
                                    <ul>
                                        <li>Liber chỉ ưu tiên hỗ trợ đổi size. Trong trường hợp sản phẩm hết size cần đổi, bạn có thể đổi sang 01 sản phẩm khác</li>
                                        <li>Nếu sản phẩm muốn đổi ngang giá trị hoặc có giá trị cao hơn, bạn sẽ cần bù khoảng chênh lệch tại thời điểm đổi (nếu có).</li>
                                        <li>Nếu bạn mong muốn đổi sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.</li>
                                        <li>Trong trường hợp sản phẩm - size bạn muốn đổi không còn hàng trong hệ thống. Vui lòng chọn sản phẩm khác.</li>
                                        <li>Không hoàn trả bằng tiền mặt dù bất cứ trong trường hợp nào. Mong bạn thông cảm.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-flip">
                                <div class="flip"><p>Tôi có thể hủy hay thay đổi các giao dịch đã thực hiện hay không ?</p></div>
                                <div class="panel"><p>Rất tiếc Liber chưa hỗ trợ hủy, hoàn lại hoặc thay đổi giao dịch đã hoàn thành.!</p></div>
                            </div>                          
                            <div class="item-flip">
                                <div class="flip"><p>Bảo hành thế nào</p></div>
                                <div class="panel">
                                    <p>Mỗi đôi giày Ananas trước khi xuất xưởng đều trải qua nhiều khâu kiểm tra. Tuy vậy, trong quá trình sử dụng, nếu nhận thấy các lỗi: gãy đế, hở đế, đứt chỉ may,...trong thời gian 6 tháng từ ngày mua hàng, mong bạn sớm gửi sản phẩm về Ananas nhằm giúp chúng tôi có cơ hội phục vụ bạn tốt hơn. Vui lòng gửi sản phẩm về bất kỳ cửa hàng Ananas nào, hoặc gửi đến trung tâm bảo hành Ananas ngay trong trung tâm TP.HCM trong giờ hành chính:</p>
                                    <ul>
                                        <li>Địa chỉ: 170-172, Đinh Bộ Lĩnh, P.26 , Q.Bình Thạnh, TP.HCM</li>
                                        <li>Hotline: 028 2211 0067</li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 order-md-1 order-sm-0">
                        <div class="single-image">
                            <img src="./assets/img/FAQs-x2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>